body {
    overflow-x: hidden;
}

.text-grey {
    color: grey;
}

.text-lightgrey {
    color: rgb(237, 236, 236);
}

#section-header {
    height: 100vh
}

header {
    background-image: url("images/bg-pattern-intro-desktop.svg"), linear-gradient(#fe866e,#fe5e60);
    background-size: cover;
    border-bottom-left-radius: 100px;
    padding: 30px 15%;
}

nav {
    color: white;
}

nav li {
    margin: 10px;
}

#login {
    margin: 10px;
}

#signup {
    width: 100px;
    background-color: white;
    border-radius: 30px;
    color: #fe5e60;
    font-weight: bold;
    border: none;
    margin: 10px;

}

#header-description {
    text-align: center;
    color: white;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

#header-description h1{
    font-size: 5em;
}
#header-description h6{
    font-size: 1.5em;
}

#start-for-free {
    background-color: white;
    color: #fe5e60;
    font-weight: bold;
    border-radius: 50px;
    margin: 10px;
    width: 150px;
    padding: 20px;
}

#learn-more {
    background-color: #fe5e60;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 50px;
    margin: 10px;
    width: 150px;
    padding: 20px;
}

/* Section 1*/
#section-1-title {
    text-align: center;
    color: #3a3b59;
    margin-top: 100px
}

#section-1 {
    height: 100vh;
    display: flex;
    align-items: center;
}

#section-1-img {
    position: absolute;
    right: -10%;
    min-width: 50%;
    max-width: 60%;
}

#section-1-body-1 {
    color: #3a3b59;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    width: 100%;
    padding: 15%;
}

#section-1-body-1-content-1 {
    display: inline;
    width: 600px;
}

/* Section 2*/

#section-2 {
    height: 80vh;
    display: flex;
    align-items: center;
}

#section-2-img {
    position: absolute;
    margin-left: 15%;
    height: 60%;
}

#section-2-body-1 {
    height: 40vh;
    padding: 0 15%;
    background-image: url("images/bg-pattern-circles.svg"), linear-gradient(to right, #242535,#3a3b59);
    background-repeat: no-repeat;
    color: white;
    display: flex;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    font-size: 1.2em;
}

#section-2-body-1-content-1 {
    display: inline;
    width: 600px;
}

#section-3 {
    height: 100vh;
    display: flex;
    align-items: center;
}

#section-3-img {
    position: absolute;
    left: -20%;
    height: 90%;
}

#section-3-body-1 {
    color: #3a3b59;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 1.2em;
    width: 100%;
    padding: 15%;
}

#section-3-body-1-content-1 {
    display: inline;
    width: 600px;
}

footer {
    height: 40vh;
    background-color: #191a21;
    color: white;
    border-top-right-radius: 100px;
    padding: 5% 15%;
    display: flex;
}

footer .navbar {
    display: inline;
}

#footer-body-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer a{
    text-decoration: none;
}

@media only screen and (max-width: 1000px){
    img {
        display: none;
    }

    header img, #section-1 img{
        display: block;
    }

    /* Navigation Bar */

    .btn-close {
        color: white !important;
        font-size: 40px;
    }

    #offcanvasNavbar {
        background-image: linear-gradient(to right,#fe866e,#fe5e60);
        width: 100%;
        border-bottom-left-radius: 600px;
    }

    .offcanvas-header {
        padding: 80px 80px 0 80px;
    }

    .offcanvas-body {
        background-color: white;
        margin: 80px;
        text-align: center;
        font-size: 60px !important;
        border-radius: 20px;
    }

    .offcanvas-body
    ,.offcanvas-body li a {
        color:#3a3b59 !important;
    }

    #nav-buttons {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-top: 1px solid grey; 
        align-items: center;
        justify-content: space-around;
        margin-left: 100px;
        margin-right: 100px;
    }
    #nav-buttons a{
        margin: 50px;
    }
    
    #signup {
        background-image: linear-gradient(to right,#fe866e,#fe5e60);
        border-radius: 100px;
        color: white;
        font-weight: bold;
        border: none;
        font-size: 60px;
        padding: 10px;
        width: 500px;
    }

    header .dropdown-menu {
        background-color: rgb(242, 239, 239) !important;
        text-align: center;
        font-size: 40px;
        padding: 50px;
    }
    .navbar-brand img {
        height: 80px;
    }
    .navbar-toggler-icon {
        font-size: 40px;
        color: white;
    }

    /* Banner */

    header {
        border-bottom-left-radius: 300px;
        padding: 0;
        height: 80vh;
        padding: 50px 30px;
    }
    #header-description {
        padding-left: 10%;
        padding-right: 10%;
    }

    #header-description h6{
        font-size: 2.5em;
    }

    #header-description a{
        font-size: 2.5em;
        width: 300px;
        margin-top: 100px;
    }

    /* Section 1 */

    #section-1-title {
        text-align: center;
        color: #3a3b59;
        margin-top: 0;
        font-size: 70px;
    }

    #section-1 {
        display: flex;
        flex-direction: column;
        text-align:  center;
        justify-content: center;
        height: auto;
    }

   #section-1-img-mobile {
        display: block !important;
        min-width: 800px;
        margin-top: 50px;
        margin-bottom: 50px;
   }

   #section-1-img {
        display: none !important;
    }

   #section-1-body-1 {
        width: 100%;
        font-size: 2.5em;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    #section-1-body-1 h3{
        width: 100%;
        font-size: 50px;
    }

    /* Section 2 */

    #section-2 {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section-2-img-mobile {
        display: block !important;
        z-index: 2;
        position: absolute;
        height: 50%;
    }

    #section-2-body-1 {
        height: 300vh;
        padding: 0;
        display: block;
        padding: 500px 30px 200px;
        margin-top: 50%;
    }

    #section-2-body-1-content-1 {
        text-align: center;
        padding: 500px 0 0 0;
    }

    #section-2-body-1-content-1 h1 {
        font-size: 80px;
    }

    #section-2-body-1-content-1 p {
        font-size: 2.5em;
    }

    /* Section 3 */
    /* Footer */
}
